/* font: questrial  */
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

*{
  box-sizing: border-box;
  /* color: white;  */
  font-family: "Questrial", sans-serif;
  /* font-style: normal; */
  /* font-weight: 400; */
}
.card{
  width: 400px; 
  height: 500px; 

  background-color: grey;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
  display: flex;
  gap: 0;
  flex-direction: column;
  justify-content: flex-end;
}

.card .lyrics{
  /* font-size: 15px ; */
  background-color: white; 
  
  display: inline-block; 
  padding: 0 16px;
  max-width: 90%;
}

/* delete */
.card .song-info{
  color: white; 
}

.song-info{
  display: flex; 

}

.card-footer{
  height: 10%;
  /* margin-top: auto; */
  background-color: black;
  border-top: 2px solid white;
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 12px;
}

form{
  margin-top: 40px;

  display: flex; 
  flex-direction: column;
  gap: 20px;
  /* color: black ; */
}

.logo.lyriq{
  color: white ; 
  height: 80% ;
}